Options -Indexes

<FilesMatch "^(\.env|.*\.log|.*\.json|README\.md)$">
    Require all denied
</FilesMatch>

<Files "receive.php">
    Require all granted
</Files>

<Files "status.php">
    Require all granted
</Files>

<Files "files.php">
    Require all granted
</Files>
