openapi: 3.0.3
info:
  title: Zomorod Melal Host Bridge File API
  version: 1.2.0
  description: >
    Authenticated, root-confined file operations for the Django deployment tree.
    Arbitrary shell execution is intentionally not exposed.
servers:
  - url: https://zomorodmelal.ir/host_bridge
security:
  - bearerAuth: []
paths:
  /files.php:
    post:
      operationId: hostFileOperation
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/Status'
                - $ref: '#/components/schemas/PathAction'
                - $ref: '#/components/schemas/WriteAction'
                - $ref: '#/components/schemas/CreateDirectoryAction'
      responses:
        '200':
          description: Operation succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Missing or invalid bearer token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Path not found or outside configured root
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Target already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '413':
          description: Request or file exceeds configured limit
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Bridge configuration or filesystem error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  schemas:
    Status:
      type: object
      required: [action]
      properties:
        action:
          type: string
          enum: [status]
    PathAction:
      type: object
      required: [action, path]
      properties:
        action:
          type: string
          enum: [list_directory, read_file, file_info, delete_file]
        path:
          type: string
    WriteAction:
      type: object
      required: [action, path, content]
      properties:
        action:
          type: string
          enum: [write_file, create_file]
        path:
          type: string
        content:
          type: string
    CreateDirectoryAction:
      type: object
      required: [action, path]
      properties:
        action:
          type: string
          enum: [create_directory]
        path:
          type: string
    SuccessResponse:
      type: object
      required: [ok]
      properties:
        ok:
          type: boolean
          const: true
        path:
          type: string
        content:
          type: string
        size:
          type: integer
        bytes:
          type: integer
        sha256:
          type: string
          pattern: '^[a-f0-9]{64}$'
        items:
          type: array
          items:
            type: object
        file:
          type: object
    ErrorResponse:
      type: object
      required: [ok, error]
      properties:
        ok:
          type: boolean
          const: false
        error:
          type: string
        max:
          type: integer
        size:
          type: integer
        actions:
          type: array
          items:
            type: string
        items:
          type: array
          items:
            type: object
        file:
          type: object
